.todo-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task-list li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  padding: 8px 12px;
}

.task-list li button {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
}

/* .input-group {
  flex-direction: column;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
} */
